extends layout/main

block variables
	-var title = 'Главная страница'
	-var filter = true

block content
	main.main
		.first 
			include modules/header/header
			.container.first-container
				.d-lg-flex 
					.w-lg-50.first-left 
						h1.title1.c-white.mb-15 harassed by  <br> creditors?
						p.fs-26.c-white.text-up you could be entitled <br>  to compensation.
						hr.line-gold.line-gold_big
						.d-flex.pt-15 
							+icon("phone", "c-gold mr-20 wh-42")
							.text-up 
								p.fw-bold.fs-26.c-white.mb-15 call for free <br> legal advice now:
								p.fw-bold.fs-40.c-gold 800-604-0466
					.w-lg-50 
						.forms 
							.d-flex
								button.tab.active(type="button") STEP 
									span 01
								button.tab(type="button") STEP 
									span 02
							.forms-content 
								.form.active 
									.form-container
										p.fs-30.fw-bold.text-up.mb-10 eceive a
											span.d-block.c-gold 100% FREE
											span.d-block.c-gold legal consultation
										p.fs-20.fw-bold Has a debt collector done any of the following?
										hr
										each val in ['Has a debt collector done any of the following?','Threatened to sue you or garnish wages?','Asked you to pay more than owed or added interest/fees?','Told a third party about the debt?','Failed to send you anything in the mail?','Lied or threatened you?','Did anything else that you think is illegal or unfair?']
											label.align-items-center.mb-15 
												input.checkbox(type="checkbox")
												span.check 
													+icon("check","c-white")
												span=val
										hr.mb-40
										a.btn.mx-auto(href="#") Get Free Help
											+icon("arrow_right", "c-white")

								form.form
									.form-container
										p.fs-30.fw-bold.text-up.mb-10 Last step for your
											span.d-block.c-gold FREE consultation
										p.fs-20.fw-bold Please fill out your contact information.
										.form-content
											.relative.pt-11 
												input(type="text" value="" required)
												p.name Name
												+icon("user","icon-input")
											.relative.pt-11  
												input(type="text" value="" required)
												p.name Phone
												+icon("phone","icon-input")

											.relative.pt-11 
												input(type="email" value="" required)
												p.name Email
												+icon("mail","icon-input")

											.relative.pt-11 
												textarea(cols="5", rows="2" value="" required)
												p.name Message
												p.count-word 0/200
											button.btn.mt-20.mx-auto(type="submit") Get Free Help
									.form-bottom
										p.c-gray.text-center Your information is confidential. We do not spam, or sell your info.
		
		section.second 
			.container 
				h2.title2.text-center Your Rights
				hr.line-gold.mx-auto
				p.fs-20.fw-bold.text-center.py-10 You Are Protected By the FDCPA
				.max-726
					p.fs-16.text-justify The Fair Debt Collection Practices Act (FDCPA) was passed by congress in 1977 to protect innocent people like you from being abused through unfair debt collection practices. The Federal Trade Commission, which is the nation's largest and powerful consumer protection agency, enforces the Fair Debt Collection Practices Act, ensuring that debt collectors do not use abusive, unfair, or deceptive practices to collect debts.
		section.third 
			.container 
				h2.title2.text-center Examples of <br> Illegal Harassment
				hr.line-gold.mx-auto
				.flex-wrap.items
					each val in [{icon: 'phone-call', text: 'Multiple calls per week'},{icon: 'coins', text: 'Attempts to collect more than you owe'},{icon: 'robber', text: 'Criminal accusations'},{icon: 'night', text: 'Early morning or late night calls'},{icon: 'credit-card', text: 'Threats of negative credit reporting'},{icon: 'gift', text: 'Collection agency lies'},{icon: 'conversation', text: 'Calls to friends, neighbors, or coworkers'},{icon: 'call-center', text: 'Collection calls at work'},{icon: 'profanity', text: 'Use of obscene language'},{icon: 'bullying', text: 'Threats of violence, lawsuit, or arrest'},{icon: 'scared', text: 'Attempts to intimidate you'},{icon: 'robot', text: 'Robocalls to your cell phone'}]
						.item 
							img.mx-auto(src="img/icons/"+val.icon+".svg")
							hr.line-gold.line-gold_small.mx-auto
							p.fw-bold.text-center=val.text
		section.fourth 
			.container 
				h2.fs-35.text-center.fw-bold 
					span.c-white YOU CAN FIGHT BACK
					span.d-block.c-gold YOU SHOULD FIGHT BACK
				hr.line-gold.mx-auto.my-25
				p.fs-16.c-white.text-center.max-726 Get legal help with zero out-of-pocket expense because debt collectors have to pay your legal fees when they violate the law.

				.flex-wrap 
					- 
						card = [
							{
								src: 'rectangle_12_copy_4406.jpg',
								count: '01',
								title: 'The Law Protects You',
								text: ' The Fair Debt Collection Practices Act protects you from debt collector abuse. You can sue and recover up to $1,000.'
							},
							
							{
								src: 'rectangle_12_copy_4406.jpg',
								count: '02',
								title: 'Connect with a Lawyer',
								text: 'Request a free evaluation of your case and ensure your rights are not further violated by predatory collection agencies.'
							},
							{
								src: 'rectangle_12_copy_4406.jpg',
								count: '03',
								title: 'Rely on Our Experience',
								text: 'We make it easy to exercise your rights. We’ll sue the debt collector on your behalf – at no upfront cost to you.'
							}
						]
					each val in card
						.card 
							.relative
								img(src="img/common/"+val.src, alt="img")
								.count=val.count
							.card-content 
								p.fs-20.fw-bold.mb-10=val.title 
								p.fs-16=val.text
		section.fifth 
			.container 
				h2.fs-35.text-center QUESTIONS YOU<br> COULD BE ASKING 
				hr.line-gold.mx-auto.my-25

				.flex-wrap.faq-row 
					- 
						faq = [
							{
								title: 'If I was harassed, how much money can I receive?',
								text: 'You could receive up to $1000 per complaint.'
							},
							{
								title: 'How much does it cost to speak with an attorney?',
								text: 'We offer a 100% free case evaluation.'
							},
							{
								title: 'Who is subject to the Fair Debt Collection Practices Act?',
								text: 'The FDCPA applies to debt collector and not original creditors.'
							},
							{
								title: 'Do you have a lot of experience in this practice?',
								text: 'We’ve helped thousands of clients just like you turn the tables on debt collectors. We make them pay you.'
							}
						]
					each val in faq
						.card-faq 
							.card-faq_l 
								.card-faq_bl
									+icon("question")
							.card-faq_r
								.card-faq_r-head
									p.fw-bold=val.title
									hr 
								.d-flex 
									+icon("check", "mr-15")
									p=val.text

		section.sixth 
			.container 
				h2.fs-35.text-center WHAT OUR CLIENTS<br> ARE SAYING
				hr.line-gold.mx-auto.my-25
				.slider 
					- 
						review = [
							{
								avatar: 'ellipse_1_4542.jpg',
								name: 'Tony Stark',
								text: 'Truly cares about each client. Ex'
							},
							{
								avatar: 'ellipse_1_4542.jpg',
								name: 'Andreya Snow',
								text: 'Working with this lawyer is great! I wasn`t sure how to move forward with my lawsuit but they made it simple & easy to maintain.'
							},
							{
								avatar: 'ellipse_1_4542.jpg',
								name: 'CJ Parker',
								text: 'Highly recommend this law firm, always available when I had any questions, from doctors to therapy was always pleasant and professional'
							},
							{
								avatar: 'ellipse_1_4542.jpg',
								name: 'CJ Parker',
								text: 'Highly recommend this law firm, always available when I had any questions, from doctors to therapy was always pleasant and professional'
							},
							{
								avatar: 'ellipse_1_4542.jpg',
								name: 'CJ Parker',
								text: 'Highly recommend this law firm, always available when I had any questions, from doctors to therapy was always pleasant and professional'
							}

						]
					each val in review
						.slide 
							img.avatar(src="img/common/"+val.avatar, alt=val.name)
							hr.line-gold.line-gold_small.my-30.mx-auto
							.text-center
								p.fw-bold=val.name
								+icon("quote","my-15 mx-auto")
								p=val.text
				.flex-center-center 
					button.arrow.arrow-prev(type="button")
						+icon("right-arrow") 
					p.align-items-center 
						span 01  
						span.c-gray-100.mr-3 /
						span.c-gold 03

					button.arrow.arrow-next(type="button")
						+icon("right-arrow")
		section.seventh 
			.container 
				.d-lg-flex
					.w-lg-50.seventh-left
						h2.title2.c-white.fs-60.mb-20 Legal help <br>that’s free <br>for you 
						p.fs-26.c-white.text-up.mb-20 Just a phone call away <br> what do you have to lose?
						.d-flex
							+icon("phone")
							p.fs-40.c-gold.fw-bold 800-604-0466
					.w-lg-50
					
						form.form
							.form-container
								p.fs-30.fw-bold.text-up.mb-10 Be in touch!
									span.d-block.c-gold FREE consultation
								p.fs-20.fw-bold Please fill out your contact information.
								.form-content
									.relative.pt-11 
										input(type="text" value="" required)
										p.name Name
										+icon("user","icon-input")
									.relative.pt-11  
										input(type="text" value="" required)
										p.name Phone
										+icon("phone","icon-input")

									.relative.pt-11 
										input(type="email" value="" required)
										p.name Email
										+icon("mail","icon-input")

									.relative.pt-11 
										textarea(cols="5", rows="2" value="" required)
										p.name Message
										p.count-word 0/200
									button.btn.mt-20.mx-auto(type="submit") Get Free Help
							.form-bottom
								p.c-gray.text-center Your information is confidential. We do not spam, or sell your info.
		.eighth 
			.container 
				.d-lg-flex 
					.w-lg-50.pr-lg-15.text-justify 
						p.c-white.fs-14.mb-20 "Domaine" is not a lawyer or law firm. This website is attorney advertising: prior results do not guarantee a similar outcome. The website is operated by Results Marketing for Consumer Attorneys LLP. It is an advertising service paid for by the lawyers and advocates whose names are provided in response to user requests and it is not an attorney referral service.
					.w-lg-50.pl-lg-15.text-justify 
						p.c-white.fs-14.mb-20 By requesting a free evaluation, the user will be provided with the name of an independent lawyer or advocate who will contact the user to do the evaluation. Do not assume that you are entitled to any compensation as a result of your debt collector harassment. Compensation, and any results obtained, depends upon the specific factual and legal circumstances of each case. By submitting a free evaluation, I acknowledge that I understand and agree to the disclaimer and privacy policy.



